<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/js/resource.js"></script>
    <style>
        .btn_width{
            width:160px;
        }
    </style>
</head>
<body>

    <div class="alert_top" style="margin-left: 10%">
        <div class="layui-form-item">
            <label class="layui-form-label">密码：</label>
            <div class="layui-input-block">
                <input type="text"  name="title" id="password" required="" lay-verify="required" placeholder="密码" autocomplete="off" class="layui-input btn_width">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户昵称：</label>
            <div class="layui-input-block">
                <input type="text"  name="title" id="nickName" required="" lay-verify="required"  autocomplete="off" class="layui-input btn_width">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">管理员备注：</label>
            <div class="layui-input-block">
                <input type="text"  name="title" id="mark" required="" lay-verify="required"  autocomplete="off" class="layui-input btn_width">
            </div>
        </div>
    </div>


<script type="text/javascript">

    var baba = parent.json;
    $("#nickName").val(baba.nickName);
    $("#mark").val(baba.mark);

    function ApplicationSave(){
        var password = $("#password").val();
        var nickName = $("#nickName").val();
        var mark = $("#mark").val();
        $.ajax({
            async:false,
            url : "/user/editAdmin",
            type : 'POST',
            data:{"id":baba.id,"password":password,"nickName":nickName,"mark":mark},
            dataType : 'json',
            success : function(data) {
                parent.layer.alert(data.data);
                config.closeWin('adminTable'); //关闭当前页面，同时刷新当前表单 参数为该表单的id
            }
        });
    }

</script>

</body>
</html>